.whatsapp-btn-container {
    z-index: 1;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    height: 4.5rem;
    width: 4.5rem;
    background-color:#00ff7f;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-btn {
    font-size: 2.5rem;
    color: white;
}