.whatsapp-btn-container {
    z-index: 1;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    height: 4rem;
    width: 4rem;
    background-color:#00ed77;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.whatsapp-btn-container:hover {
    opacity: 1;
    background-color:#00964b;
}

.whatsapp-btn {
    font-size: 2.25rem;
    color: white;
}

@media screen and (max-width: 479px) {
    .whatsapp-btn-container {
        height: 3.5rem;
        width: 3.5rem;
    }

    .whatsapp-btn {
        font-size: 2rem;
        color: white;
    }
}